#titlearea
{
    background-color: rgb(255, 255, 255);
    height: 84px;
    padding-top: 8px;
}

#projectlogo
{
    padding-left: 15px;
    padding-right: 10px;
}

#titlearea, #projectname, #projectbrief, #projectnumber
{
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

#projectname
{
    font-size: 220%;
    color: rgb(30, 58, 142);
}

#projectname a
{
    color: rgb(0, 0, 0);
}

#projectname a:hover, #projectbrief a:hover
{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

#projectbrief
{
    font-size: 130%;
    color: rgb(0, 0, 0);
}

#projectbrief a
{
    color: rgb(0, 0, 0);
}

#projectnumber
{
    font-size: 100%;
}

#projectnumber a
{
    font-size: 100%;
}

#titlearea::before
{
    padding-left: 300px;
    position: absolute;
    left: 18%;
    top: 40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    content: "C++ Source Code Guide";
    font-size: 180%;
}

